<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <title>Document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
        

    <body>
        <nav th:replace="/index.html::navbar"></nav><br>
        <div class="container">
            <h2>Lista de usuarios</h2><br>
            <button class="btn btn-success">
                <a class="nav-link" style="color:white; text-decoration: none;" th:href="@{/Usuario/formularioUs}">Crear usuario</a>
            </button><br><br>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <td th:text="${usuario.nombre}"></td>
                        <td th:text="${usuario.telefono}"></td>
                        <td th:text="${usuario.email}"></td>
                        <td>
                            <button class="btn btn-primary">
                                <a class="nav-link" style="color:white; text-decoration: none;" th:href="@{/Usuario/formularioUs/} + ${usuario.id}">Editar</a>
                            </button>
                            <button class="btn btn-danger">
                                <a class="nav-link" style="color:white; text-decoration: none;" th:href="@{/Usuario/eliminar/} + ${usuario.id}">Eliminar</a>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>
